/* universal styling */
* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: rgb(52, 137, 137);
    --secondary-color: #262626;
    --tertiary-color: #e8e8e8;
    --quaternary-color: #787878;
    --font-primary: Helvetica, 'Times New Roman', Times, serif;
    --font-secondary: Helvetica, Tahoma, sans-serif;
}

/* link styling */
a {
    text-decoration: none;
    color: var(--secondary-color);
}

/* header styling */
header {
    
    padding: 35px 35px 20px 0px;
    background: var(--tertiary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
    top: 0;
    border-bottom: 4px solid var(--quaternary-color);
    z-index: 999;
}



header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header h1 a{
    color: white;
    background: var(--primary-color);
    font-size: 40px;
    padding: 5px 50px;
    font-family: var(--font-primary);
    border-radius: 0 25px 25px 0;
}



header nav ul li {
    margin: 0 5px;
    padding-bottom: 10px;
    padding-top: 20px;
}

header nav ul li a {
    font-size: 20px;
    padding: 5px 15px;
    font-family: var(--font-secondary);
    border-bottom: 2px solid var(--primary-color)
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: white;
    transition: 0.8s;
}

.hero {
    background-image: url(./images/img1.jpg);
    color:white;
    font-family: var(--font-secondary);
    height: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-bottom: 4px solid var(--quaternary-color);
}
.hero h2{
    padding: 20px;
    margin: 20px;
    margin-right: 0;
    border-radius: 25px 0 0 25px;
    background-color: rgb(52, 137, 137);
}